KISLicenseCheck/Service References/KisLicensing/Licensing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckLicense">
        <s:complexType />
      </s:element>
      <s:element name="CheckLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLicense" />
  </wsdl:message>
  <wsdl:message name="CheckLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="LicensingSoap">
    <wsdl:operation name="CheckLicense">
      <wsdl:input message="tns:CheckLicenseSoapIn" />
      <wsdl:output message="tns:CheckLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicensingSoap" type="tns:LicensingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLicense">
      <soap:operation soapAction="http://tempuri.org/CheckLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LicensingSoap12" type="tns:LicensingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLicense">
      <soap12:operation soapAction="http://tempuri.org/CheckLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Licensing">
    <wsdl:port name="LicensingSoap" binding="tns:LicensingSoap">
      <soap:address location="http://localhost:3358/Eventi/Licensing.asmx" />
    </wsdl:port>
    <wsdl:port name="LicensingSoap12" binding="tns:LicensingSoap12">
      <soap12:address location="http://localhost:3358/Eventi/Licensing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>